# ==========================================
# Carpetas de Compilacion (.NET)
# ==========================================
bin/
Bin/
obj/
Obj/

# ==========================================
# 2. Archivos Sensibles y Credenciales (TestData)
# ==========================================
# Archivos JSON que contienen tu información personal y datos reales de clientes
TestData/ClienteFijo.json
TestData/QA_GST_ClientesAprobados.json
TestData/Global_Credentials.json
TestData/QA_LGN_Data.json
*.local.json
.env

# ==========================================
# 3. Reportes y Resultados de Pruebas (Playwrigth / NUnit)
# ==========================================
playwright-report/
test-results/
TestResults/
blob-report/
*.log
*.dbmdl

# ==========================================
# 4. Entonrnos de Desarrollo (Rider / Visual Studio)
# ==========================================
.idea/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ReSharper
*.sln.DotSettings.user

# ==========================================
# 5. Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db